@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  /* ### Neutral */
  /* DARK MODE */
  --bg-elements-color: hsl(209, 23%, 22%);
  --background-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 100%, 100%);
}

.light-mode {
  --bg-elements-color: hsl(0, 100%, 100%);
  --text-color: hsl(200, 15%, 8%);
  --Grey-400-Light-Mode-Input: hsl(0, 0%, 50%);
  --background-color: hsl(0, 0%, 99%);
}

.bg-elements {
  background-color: var(--bg-elements-color);
}

.bg-main-color {
  background-color: var(--background-color);
}

.custom-text-color {
  color: var(--text-color);
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--background-color);
}
